*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    background-color: #e5e5e5;
    padding: 15px;
    text-align: center;
margin: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #aaaaaa;


}
.container{
display: flex;
}
.menu{
    width: 20%;

}
.menu a{
    background-color: #e5e5e5;
    display: block;
    padding: 8px;
    margin-top: 7px;
}
.main{
    width: 60%;
    padding: 0 20px;

}
.about{
    width: 20%;
    background-color: #e5e5e5;
    padding: 15px;
    text-align: justify;
}

.copyright{
    background-color: #e5e5e5;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
/* estilos especificos para pantallas tipo table */
@media screen and (max-width: 800px){
    h1{
        color: blue;
    }
}
@media screen and (max-width:600px) {
    .container{ flex-direction: column;}
    .container div{
        width: 100%;
    }
    
}